<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book Store | Sign In & Sign Up :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link th:href="@{css/font-awesome.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script th:src="@{js/jquery-1.11.1.min.js}"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<!-- start-smoth-scrolling -->
</head>
	
<body>


<!-- login -->
		<div class="w3_login">
			<h3>Sign In </h3>
			<div class="w3_login_module">
				<div class="module form-module">
				  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
					<div class="tooltip" >
						<a th:href="@{/register}">Register</a>
					</div>
				  </div>
				  <div class="form">
					<h2>Login to your account</h2>
					<form th:action="@{/login}" method="post">
						<input type="text" name="username" id="username" class="form-control input-lg"
							   placeholder="UserName" required="true" autofocus="true"/>
						<input type="password" name="password" id="password" class="form-control input-lg"
							   placeholder="Password" required="true"/>
					  <input type="submit" value="Login">
					</form>
				  </div>
				  <div class="cta"><a href="#">Forgot your password?</a></div>
				</div>
			</div>
		</div>
<!-- //login -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- newsletter-top-serv-btm -->
<!-- //newsletter-top-serv-btm -->
<!-- newsletter -->
	
<!-- //newsletter -->
<!-- footer -->
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<!-- //here ends scrolling icon -->
</body>
</html>